@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Light mode */
  --background: #ffffff;
  --foreground: #171717;
  
  --primary: #2563eb; 
  --secondary: #eff6ff; 
  --action: #ea580c; 
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Dark mode */
    --background: #0a0a0a;
    --foreground: #ededed;
    
    --primary: #06b6d4; 
    --secondary: #581c87; 
    --action: #d946ef; 
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}